body, html {
  font-family: 'DM Sans';
  height: 100%;
}

header {
  background: rgb(247, 245, 245);
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.24);
  margin-left: -15px;
}

#logo {  
  padding: 20px 0 0 30px;
  color: #0f394c;
}

h1 {
  font-size: 5vh;
  margin-top: 2%;
  margin-bottom: 2%;
  white-space: nowrap;
}

h1 span #cursive{
  color: red;
  font-family: 'Beau Rivage', cursive;
}

.hide1, .hide2{
  display: inline-block;
  max-width: 0;
  opacity: 0;
  transition: max-width 0.2s, opacity 0.2s;
}

#zk-trigger:hover .hide1, #zk-trigger:hover .hide2{
  max-width: 100px;
  opacity: 1;
  transition: max-width 0.2s, opacity 0.2s;
}

nav ul {
  margin: none;
  padding: none;
  display: flex;
  list-style: none;
  align-items: center;
}

nav li {
  position: relative;
}

nav a, nav a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 30px;
  font-size: 15px;
  font-weight: 600;
  color: #0f394c;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

nav a:hover, nav .active, nav .active:focus, nav li:hover > a {
  color: #59759d;
}

nav .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

nav .dropdown ul li {
  min-width: 200px;
}

nav .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 500;
}

nav .dropdown ul a:hover, nav .dropdown ul .active:hover, nav .dropdown ul li:hover > a {
  color: #59759d;
}

nav .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

nav .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

nav .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  nav .dropdown .dropdown ul {
    left: -90%;
  }
  nav .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

body {
  padding-top: 70px;
  font-family: 'DM Sans';
}

p {
line-height: 30px;
margin: 20px;
text-align: justify
}

/* Container needed to position the button. Adjust the width as needed */
#buttoncontainer {
  position: relative;
  top: 80%;
  width: 100%;
}

/* Make the image responsive */
#buttoncontainer img {
  width: 100%;
  height: auto;
  z-index: -1;
}

/* Style the button and place it in the middle of the container/image */
#buttoncontainer .but {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: #1d7096;
  font-size: 20px;
  padding: 15px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#buttoncontainer .but:hover {
  background-color: #333;
}

.but {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.but span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.but span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 8px;
  line-height: 13px;
}

.but:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.but:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.but:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

#hero {
  padding-top: 70px;
  background-image: url("../images/astolfo.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#studyofthedomain {
  padding: 30px;
}

h2{
  color: #1d7096;
  font-size: 30px;
  font-weight: bold;
  font-family: 'DM Sans';
  cursor: pointer;
  margin-left: 20px;
}

.slide {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.hasSlid {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


h3, h4 {
  margin-left: 20px;
}

#firstsection {
  margin: 30px;
}


#linkbutton {
  color: #1d7096;
}

.models-p {
  padding-left: 20px;
  padding-right: 20px;
}

.snippet {
  margin-left: 20px;
  margin-right: 20px;
}

.Modelssection1 {
  padding-top: 30px;
  content: "";
  clear: both;
  display: table;
  padding-bottom: 15px;
}

.Modelssection2 {
  background-color: #f7f6e8;
  padding-top: 30px;
  width: 100%;
  content: "";
  clear: both;
  display: table;
  padding-bottom: 15px;
}

.mapinmodel {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

#itemssection, #teampresentation {
  padding: 30px;
  clear: both;
  display: table;
  width: 100%;
}

div.gallery {
  background-color: #fff;
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 30px 6px;
  width: 24.99999%;
  min-width: 280px;
  display: inline-flex;
  float: left;
  height: 750px;
}

.clearfix {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 0.375rem 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#thirdsection {
  padding: 30px;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}


.btncontainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
  margin-top: 15px;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #1d7096;
  border-radius: 1.625rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
  font-weight:bold;
}

.items-lib.learn-more .circle {
  background: rgb(31, 131, 89);
}

.items-arc.learn-more .circle {
  background: rgb(217, 84, 2);
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #1d7096;
  background: #fff;
}

#tabMDScout {
  width: 75%; 
  border-collapse: collapse; 
  margin-left: auto;
  margin-right: auto;
}

#tabMDScout a {
  text-decoration: underlined;
}

.tabalignment {
  width: 80%; 
  border-collapse: collapse; 
  margin-left: auto;
  margin-right: auto;
}

/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:22px;
	z-index:100;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #1d7096;
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom: 0;
}

.step-inner {
  margin-top: 2px;
  top: 50%;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#1d7096;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;
	background: -moz-linear-gradient(left, #207893 0%, #2ea3b7 100%);
	background: -webkit-linear-gradient(left, #207893 0%,#2ea3b7 100%);
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207893', endColorstr='#2ea3b7',GradientType=1 );
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #f8f8f8;
	border-radius: 5px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#1d7096;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:15px;
	line-height:1.8em;
	color:#333;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  width: 90%;
  padding-bottom: 80px;
  height: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
  clear: both;
  display: table;
  max-width: 1300px;
}

.tabDatadesc{
  table-layout: fit-content;
  width: fit-content%;
  border-collapse: collapse;
}

.tabs input[name=tab-control] {
  display: none;
}

.tabs .content section h2,
.tabs ul li label {
  font-weight: bold;
  font-size: 18px;
  color: #1d7096;
}

.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: #929daf;
  height: 2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: #bec5cf;
}

.first-slider {
  width: 25%
}

.tabs .slider {
  position: relative;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #1d7096;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}

.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #1d7096;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #1d7096;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #1d7096;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #1d7096;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #1d7096;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #1d7096;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #1d7096;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #1d7096;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}

.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: scale(2.5);    
-moz-transform: scale(2.5);  
-webkit-transform: scale(2.5);  
-o-transform: scale(2.5);  
transform: scale(2.5);    
position:relative;      
z-index:100;  
}

footer {
	background-color: #d7d28e;
}

#Data-desc {
    display: block;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    color: #000;
}

.table-title-desc {
  float: left;
  padding-left: 10%;
}

.table-datadesc {
  width: 100%;
  margin-bottom: 10px;
}

.table-desc {
  width: 100%;
  border: solid 0.5px rgb(41, 123, 65);
}

.second-slider {
  width: 33.3%;
}

@-moz-keyframes downloadBounce {
  to {
    -moz-transform: translateY(0px) rotate(50deg);
  }
}
@keyframes downloadBounce {
  to {
    -webkit-transform: translateY(0px) rotate(50deg);
    -moz-transform: translateY(0px) rotate(50deg);
    -ms-transform: translateY(0px) rotate(50deg);
    -o-transform: translateY(0px) rotate(50deg);
    transform: translateY(0px) rotate(50deg);
  }
}
@-webkit-keyframes downloadBounce2 {
  to {
    -webkit-transform: translateY(0px) rotate(-50deg);
  }
}
@-moz-keyframes downloadBounce2 {
  to {
    -moz-transform: translateY(0px) rotate(-50deg);
  }
}
@keyframes downloadBounce2 {
  to {
    -webkit-transform: translateY(0px) rotate(-50deg);
    -moz-transform: translateY(0px) rotate(-50deg);
    -ms-transform: translateY(0px) rotate(-50deg);
    -o-transform: translateY(0px) rotate(-50deg);
    transform: translateY(0px) rotate(-50deg);
  }
}

.scheda-title {
  width: 100%;
  display: inline-block;
  padding-right: 100px;
  padding-bottom: 20px;
}

.download {
  float: left;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #1d7096;
  border: 1px solid #1d7096;
  color: white;
  padding: 20px 0 26px 28px;
  width: 220px;
  position: relative;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-right: 20px;
  height: 60px;
  margin-top: 10px
}
.download span {
  display: block;
  position: relative;
  z-index: 1;
  left: 30%;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.download span:after, .download span:before {
  content: "";
  width: 1px;
  height: 15px;
  background: #1d7096;
  opacity: 0;
  position: absolute;
  left: 25%;
  top: 60%;
  -webkit-transition: all 10ms ease-out;
  -moz-transition: all 10ms ease-out;
  transition: all 10ms ease-out;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateY(0) rotate(0deg);
  -moz-transform: translateY(0) rotate(0deg);
  -ms-transform: translateY(0) rotate(0deg);
  -o-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
  -webkit-animation: 0;
  -moz-animation: 0;
  animation: 0;
}
.download svg {
  z-index: 0;
  fill: white;
  position: absolute;
  left: 20%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0.04857);
  -moz-transform: translate(-50%, -50%) rotate(0deg) scale(0.04857);
  -ms-transform: translate(-50%, -50%) rotate(0deg) scale(0.04857);
  -o-transform: translate(-50%, -50%) rotate(0deg) scale(0.04857);
  transform: translate(-50%, -50%) rotate(0deg) scale(0.04857);
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  height: 700px;
}
.download svg#linux {
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0.05857);
  -moz-transform: translate(-50%, -50%) rotate(0deg) scale(0.05857);
  -ms-transform: translate(-50%, -50%) rotate(0deg) scale(0.05857);
  -o-transform: translate(-50%, -50%) rotate(0deg) scale(0.05857);
  transform: translate(-50%, -50%) rotate(0deg) scale(0.05857);
}
.download:hover {
  padding: 26px 0;
  color: #007ccd;
}
.download:hover svg {
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(60deg) scale(1);
  -moz-transform: translate(-50%, -50%) rotate(60deg) scale(1);
  -ms-transform: translate(-50%, -50%) rotate(60deg) scale(1);
  -o-transform: translate(-50%, -50%) rotate(60deg) scale(1);
  transform: translate(-50%, -50%) rotate(60deg) scale(1);
}
.download:hover svg#windows {
  -webkit-transform: translate(-50%, -10%) rotate(60deg) scale(1);
  -moz-transform: translate(-50%, -10%) rotate(60deg) scale(1);
  -ms-transform: translate(-50%, -10%) rotate(60deg) scale(1);
  -o-transform: translate(-50%, -10%) rotate(60deg) scale(1);
  transform: translate(-50%, -10%) rotate(60deg) scale(1);
}
.download:hover svg#linux {
  -webkit-transform: translate(-120%, -125%) rotate(60deg) scale(6);
  -moz-transform: translate(-120%, -125%) rotate(60deg) scale(6);
  -ms-transform: translate(-120%, -125%) rotate(60deg) scale(6);
  -o-transform: translate(-120%, -125%) rotate(60deg) scale(6);
  transform: translate(-120%, -125%) rotate(60deg) scale(6);
}
.download:hover span {
  -webkit-transform: translate(0, -10px) scale(1.1);
  -moz-transform: translate(0, -10px) scale(1.1);
  -ms-transform: translate(0, -10px) scale(1.1);
  -o-transform: translate(0, -10px) scale(1.1);
  transform: translate(0, -10px) scale(1.1);
  -webkit-transition: -webkit-transform 400ms ease-out 400ms;
  -moz-transition: -moz-transform 400ms ease-out 400ms;
  transition: transform 400ms ease-out 400ms;
}
.download:hover span:after, .download:hover span:before {
  opacity: 1;
  -webkit-transition: all 400ms ease-out 400ms, -webkit-transform 300ms ease-in 100ms;
  -moz-transition: all 400ms ease-out 400ms, -moz-transform 300ms ease-in 100ms;
  transition: all 400ms ease-out 400ms, transform 300ms ease-in 100ms;
}
.download:hover span:after {
  -webkit-transform: translateY(7px) rotate(50deg);
  -moz-transform: translateY(7px) rotate(50deg);
  -ms-transform: translateY(7px) rotate(50deg);
  -o-transform: translateY(7px) rotate(50deg);
  transform: translateY(7px) rotate(50deg);
  -webkit-animation: downloadBounce 800ms linear alternate infinite;
  -moz-animation: downloadBounce 800ms linear alternate infinite;
  animation: downloadBounce 800ms linear alternate infinite;
}
.download:hover span:before {
  -webkit-transform: translateY(7px) rotate(-50deg);
  -moz-transform: translateY(7px) rotate(-50deg);
  -ms-transform: translateY(7px) rotate(-50deg);
  -o-transform: translateY(7px) rotate(-50deg);
  transform: translateY(7px) rotate(-50deg);
  -webkit-animation: downloadBounce2 800ms linear alternate infinite;
  -moz-animation: downloadBounce2 800ms linear alternate infinite;
  animation: downloadBounce2 800ms linear alternate infinite;
}

.svg-icons {
  width: 6%;
  padding-bottom: 10px;
}

.underline {
  width: 140px;
  margin: 16px 0;
}

.underline {
  --line: #7582c4;
  --color: #1d7096;
  text-decoration: none;
  color: var(--color);
  position: relative;
}
.underline span {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--line)), to(var(--line)));
  background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: var(--background-size, 100%) 1px;
  -webkit-transition: background-size 0.2s linear var(--background-delay, 0.15s);
  transition: background-size 0.2s linear var(--background-delay, 0.15s);
  font-size: 18px;
  line-height: 20px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
          color: #1d7096;
  font-weight: 1000;
}
.underline svg {
  vertical-align: top;
  display: inline;
  line-height: 1;
  width: 13px;
  height: 20px;
  position: relative;
  left: -2px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
  stroke: var(--line);
  stroke-dasharray: 7.95 30;
  stroke-dashoffset: var(--stroke-dashoffset, 46);
  -webkit-transition: stroke-dashoffset var(--stroke-duration, 0.15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
  transition: stroke-dashoffset var(--stroke-duration, 0.15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
}
.underline:hover {
  --background-size: 0%;
  --background-delay: 0s;
  --stroke-dashoffset: 26;
  --stroke-duration: .3s;
  --stroke-easing: cubic-bezier(.3, 1.5, .5, 1);
  --stroke-delay: .195s;
}
